body{
    font-family: 'Open Sans', sans-serif;
    color: #201b2d;
    font-size: 15px;
    padding: 0;
    margin: 0;
}

div, p, input, button, form, span, a, ul, li {
    box-sizing: border-box;
}

h1, h2, h3, h4, h5, h6 {
    margin: 0;
    font-family: 'Montserrat', sans-serif;
    font-weight: 900;
}

.contanier{
    width: 1170px;
    margin: 0 auto;/*чтобы сделать основной элемент по центру*/
    
}

.header{
background: rgba(72,61,95,1);
background: -moz-linear-gradient(left, rgba(72,61,95,1) 0%, rgba(43,34,64,1) 100%);
background: -webkit-gradient(left top, right top, color-stop(0%, rgba(72,61,95,1)), color-stop(100%, rgba(43,34,64,1)));
background: -webkit-linear-gradient(left, rgba(72,61,95,1) 0%, rgba(43,34,64,1) 100%);
background: -o-linear-gradient(left, rgba(72,61,95,1) 0%, rgba(43,34,64,1) 100%);
background: -ms-linear-gradient(left, rgba(72,61,95,1) 0%, rgba(43,34,64,1) 100%);
background: linear-gradient(to right, rgba(72,61,95,1) 0%, rgba(43,34,64,1) 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#483d5f', endColorstr='#2b2240', GradientType=1 );
color: #fff;
padding-bottom: 225px;
}

p{
    line-height: 1.6em;/*Межстрочное расстояние*/
}

.logo{
    margin-top: 100px;
}

.wrapper {
	display: flex;
    justify-content: space-between;/*Прижимание картинки к контору*/
	
}

.offer {
	margin-top: 176px;
	width: 490px;
}

.title{
    font-size: 36px;
}

.title span{
    color: #48ed8e;
}

.intro{
    font-size: 15px;
    margin-bottom: 15px;
    width: 380px;
    margin-top: 20px;
}

.btn{
    font-family: 'Montserrat', sans-serif;
    background: #ed9619;
    color: #fff;
    border-radius: 100px;
    display: block;
    width: 205px;
    padding: 20px 0;
    text-align: center;
    text-decoration: none;
    transition: all 0.3s ease;
}
.btn:hover{
    background: #d9860e;
    color: #fff;
}
  
.desktop{
    margin-top: 72px;
}

.learn{
    padding-top: 105px;
    padding-bottom: 120px;
}

.sc-title{
    font-size: 30px;
}

.skill{
    width: 350px;
    background: url('../icon1.jpg') no-repeat left top;
    padding-left: 100px;
}

.skills{
    display: flex;
    justify-content: space-between;
    margin-top: 70px;
}

.skill-title{
    font-size: 18px;
}
.skill-text{
    margin-top: 7px;
}
.skill-free{
    width: 380px;
    background: url('../icon2.jpg') no-repeat left top
}

.change{
    background: url('../icon3.jpg') no-repeat left top
}

.mail{
    background: #efecf4;
    padding-top: 173px;
    padding-bottom: 190px;
}
.input{
    width: 474px;
    border: 1px solid #bfb8d1;
    border-radius: 100px;
    font-size: 15px;
    font-family: 'Open Sans', sans-serif;
    height: 54px;
    padding-left: 38px;
}

.form{
    margin-top: 40px;
}
.btn-form{
    border: 0;
    cursor: pointer;
    display: inline;
    margin-left: 11px;
}

.footer{
    padding: 33px 0;
    background: #201b2d;
}

.credits{
    color: #d4cee3 ;
    font-size: 14px;
    margin: 0;
}